<div class="row">
	<aside class="col-md-4">
		<section class="user_info">
			<h1>
				<%= @video.name %>
			</h1>
			<%= video_tag @video.attachment, :size => "320x240", :controls => true %>
		</section>
		<h2>Comments : </h2>
		<% @comments.each do |c| %>

		<%= c.content%>
		<hr> 

		<% end %>
		
		<div class="alert alert-info">
			<%= form_for(@comment, url: comment_path) do |f| %>

			<%= f.label :comment %>
			<textarea class="form-control" name="content"></textarea>
			<input type="hidden" name="video_id" value="<%= @video.id %>">



			<%= f.submit "Submit", class: "btn btn-primary" %>
			<% end %>
		</div>
	</aside>
</div>